In [1]:
import whatsapp_bot as wpb
import pandas as pd
import numpy as np

In [5]:
### datos de telefono 
#data={'phone_numbers':[965992236,954302730, 977183791,965992236, 981827783, 993453473, 966504433, 934091769],"envio": 0}
# data={'phone_numbers':[965992236, 965992236],"envio": 0}
# cont=pd.DataFrame(data)
# cont["msj"]="Prueba1"
# cont.to_csv("contactos.csv", index=False)

# df0= pd.read_csv('contactos.csv')
# df0

In [3]:
#data={'phone_numbers':[965992236, 981827783, 959658118, 954302730],'Estado':["Pendiente","En proceso","Pendiente","En proceso"],'Tipologia':["2","4","2","4"]}
data={'phone_numbers':["965992236","965992236"],
      'Estado':["Apta para envío","Pendiente de envío"],
      'Estado de acreditación':["Validado","Validado"],
      'proceso':[1, 1],
      'alerta':["SI","NO"],
      "DNIDIRECTIVO":["46456347","46456347"],
      "sec_met":["SI","NO"]}
df=pd.DataFrame(data)
df["msj"]="Prueba1"
df

,phone_numbers,Estado,Estado de acreditación,proceso,alerta,DNIDIRECTIVO,sec_met,msj
0,965992236,Apta para envío,Validado,1,SI,46456347,SI,Prueba1
1,965992236,Pendiente de envío,Validado,1,NO,46456347,NO,Prueba1

In [ ]:
url_familias='https://docs.google.com/spreadsheets/d/1qFq33wsvbU8QhZeZ7utfX1GDxCHxYkdD/export?format=csv'
url_msj='https://docs.google.com/spreadsheets/d/1DLrgfIjw0ekiazcohkX2YF_8Rsoa8OYi-0DOKZUIqNo/edit#gid=1620900866'

wpb.execute_bot(url_bd=url_familias,
                url_sms=url_msj,
                user="gestionmatricula@gmail.com",
                pass_user="qwerty",
                familias=True,
                tipologia_segui=9,
                var_start=0,
                var_end=1)

El número de filas de la BD es:  1

In [16]:
# url_msj='https://docs.google.com/spreadsheets/d/1DLrgfIjw0ekiazcohkX2YF_8Rsoa8OYi-0DOKZUIqNo/edit#gid=1620900866'
# url_directivos_seguimiento="https://docs.google.com/spreadsheets/d/1k8LDr_niCN9lWJBGAQVSIv8Xb_xH5ppa/edit#gid=166209892"
# url_directivos_general="https://docs.google.com/spreadsheets/d/1-biLN4-QAVIL6oV9dfFMpgiNC2Itbs2V/edit#gid=2036506774"

In [6]:
url_msj='https://docs.google.com/spreadsheets/d/1DLrgfIjw0ekiazcohkX2YF_8Rsoa8OYi-0DOKZUIqNo/edit#gid=1620900866'
url_directivos="https://docs.google.com/spreadsheets/d/1k8LDr_niCN9lWJBGAQVSIv8Xb_xH5ppa/edit#gid=166209892"

wpb.execute_bot(url_bd=df,
                url_sms=url_msj,
                user="whatsappoperador2@gmail.com",
                pass_user="Minedu2022*",
                test=True
               )

El número de filas de la BD es:  2

,phone_numbers,statusdes,proceso,alerta,DNIDIRECTIVO,sec_met,msj,envio
0,965992236,Registrado,1,SI,46456347,SI,Prueba1,1.0
1,965992236,En proceso,1,NO,46456347,NO,Prueba1,1.0

In [2]:
url_msj='https://docs.google.com/spreadsheets/d/1DLrgfIjw0ekiazcohkX2YF_8Rsoa8OYi-0DOKZUIqNo/edit#gid=0'
url_bd_dir='https://docs.google.com/spreadsheets/d/1l2eGDf1VbSdWKp1a41E9DutzuPCMISRF/edit#gid=199123115'

df=wpb.open_directivos_EBR(url=url_bd_dir,gid=199123115)

Se eliminaron 18 números telefónicos inválidos de la base de datos

In [3]:
df.head()

,index_o,dre,ugel,distrito,nombre de la ie,codooii,código local,código modular inicial,código modular primaria,código modular secundaria,...,2° pri.3,3° pri.3,4° pri.3,5° pri.3,6° pri.3,1° sec.3,2° sec.3,3° sec.3,4° sec.3,5° sec.3
0,155,DRE CALLAO,DRE CALLAO,CALLAO,073 SE�OR DE LA MISERICORDIA,139441,139441,497826.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,447,DRE CALLAO,DRE CALLAO,CALLAO,77 SANTISIMA VIRGEN DEL CARMEN,139460,139460,522664.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,53,DRE CALLAO,DRE CALLAO,CALLAO,78 AMIGUITOS DE SAN MARTIN,139484,139484,563031.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,512,DRE CALLAO,DRE CALLAO,CALLAO,96 VIRGEN MARIA DE FATIMA,139530,139530,631036.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,329,DRE CALLAO,DRE CALLAO,CALLAO,90 LOS AMIGUITOS DE DOMINGO SAVIO,139549,139549,631044.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Tipologia para el envio de mensajes de seguimiento
- 0: no registro nada (pendiente)
- 1: proceso con metas
- 2: proceso sin metas
- 3: proceso que debería ser registrado
- 4: con metas y con alertas

In [ ]:
wpb.execute_bot(url_bd=df, url_sms=url_msj,
                user="whatsappoperador2@gmail.com",
                pass_user="Minedu2022*",
                tipologia_segui=2,
                first_report=True,
                seguimiento=True,
                test=True)